body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: red;
  }
  
  p {
    color: #555;
  }

  table {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgb(200, 225, 255);
  }

  tr {
    height: 50px;
  }

  td#a {
    width: 400px;
    text-align: left;
  }

  td#b {
    width: 300px;
    text-align: right;
    font-weight: bold;
  }
  
  tr#dep {
      height: 70px;
  }
  
  div#t {
      background-color: rgb(220, 220, 220);
      padding-bottom: 10px;
  }
